{% extends 'posts/page_layout.html' %}
{% load static %}

{% block content %}
<main class="py-4" style="background-color: #F7F7F7; min-height: calc(100vh - 57px);">

    <div class="container">

        

        {% include "include/posts/page_title.html" %}


        <div class="row g-4">
            <div class="col-md-7">
                {% include "include/posts/post_create.html" %}

                {% for post in post_list %}
                    {% include "include/posts/post.html" %}
                {% endfor %}
            </div>

            <div class="col-md-5">

                {% include "include/posts/trends.html" %}

                {% include "include/posts/follow_list.html" %}
            </div>
        </div>
    </div>
</main>

{% endblock %}