{% load static %}


<div class="card p-4 mb-4 border rounded-4 bg-white">

    <!-- post header -->
    <div class="d-flex align-items-center justify-content-between mb-3">

        <div class="d-flex align-items-center gap-2">

            <img src="{{ post.owner.avatar.url  }}" class="rounded-circle" alt="User" width="40" height="40">

            <div>

                <span class="fw-bold me-1">{{ post.owner.first_name }} {{ post.owner.last_name }}</span>

                <span class="text-muted small">@{{ post.owner.username }}</span>

            </div>

        </div>

        <span class="text-muted small">{{ post.date|timesince }}</span>

    </div>
    <!-- end post header -->
    

    <h5 class="fw-bold mb-2">{{ post.title }}</h5>

    

    <div class="d-flex gap-2 mb-3">

        <span class="badge border-0 px-2 py-1 fw-normal rounded-1" style="background-color: #E7F1FF; color: #0A58CA;">Game</span>

        <span class="badge border-0 px-2 py-1 fw-normal rounded-1" style="background-color: #E7F1FF; color: #0A58CA;">Play</span>

    </div>

    
    {% if post.poster %}
        <div class="overflow-hidden rounded-3 mb-3">
            <a href="{% url 'post_detail' post.pk %}">
                <img src="{{ post.poster.url }}" class="img-fluid w-100" alt="Post img" style="max-height: 400px; object-fit: cover;">
            </a>
        </div>
    {% else %}
        <p class="text-secondary small mb-3">
            {{ post.description }}
        </p>
    {% endif %}

    
    <!-- post footer -->
    <div class="d-flex gap-4 text-muted small">

        <!-- like -->
        <div class="d-flex align-items-center gap-1" style="cursor: pointer;">

            <form action="{% url 'like' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="post_id" value="{{ post.id }}">

                <button type="submit" style="border:none; background: transparent">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.1 18.55L12 18.65L11.89 18.55C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5C9.04 5 10.54 6 11.07 7.36H12.93C13.46 6 14.96 5 16.5 5C18.5 5 20 6.5 20 8.5C20 11.39 16.86 14.24 12.1 18.55ZM16.5 3C14.76 3 13.09 3.81 12 5.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5C2 12.27 5.4 15.36 10.55 20.03L12 21.35L13.45 20.03C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z" fill="#6C757D"/>
                    </svg>
                </button>
                
            </form>

            

            <span>10 k</span>

        </div>
        <!-- end like -->

        <!-- comment -->
        <div class="d-flex align-items-center gap-1" style="cursor: pointer;">

            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                <path d="M9 22C8.73478 22 8.48043 21.8946 8.29289 21.7071C8.10536 21.5196 8 21.2652 8 21V18H4C3.46957 18 2.96086 17.7893 2.58579 17.4142C2.21071 17.0391 2 16.5304 2 16V4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H20C20.5304 2 21.0391 2.21071 21.4142 2.58579C21.7893 2.96086 22 3.46957 22 4V16C22 16.5304 21.7893 17.0391 21.4142 17.4142C21.0391 17.7893 20.5304 18 20 18H13.9L10.2 21.71C10 21.9 9.75 22 9.5 22H9ZM10 16V19.08L13.08 16H20V4H4V16H10Z" fill="#6C757D"/>

            </svg>

            <span>500</span>

        </div>
        <!-- end comment -->

        <!-- repost -->
        <div class="d-flex align-items-center gap-1" style="cursor: pointer;">

            <form action="{% url 'repost' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="post_id" value="{{ post.id }}">

                <button type="submit" style="border:none; background: transparent">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 7H17V10L21 6L17 2V5H5V11H7V7ZM17 17H7V14L3 18L7 22V19H19V13H17V17Z" fill="#6C757D"/>
                    </svg>
                </button>

            </form>

            <span>100</span>

        </div>
        <!-- end repost -->

    </div>

    <!-- end post footer -->

</div>